<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">Guárico TechTur</a>
    <div class="navbar-nav">
      <a class="nav-link" href="/">Inicio</a>
      <a class="nav-link" href="/rutas">Rutas</a>
      <a class="nav-link" href="/servicios">Servicios</a>
      <a class="nav-link" href="/reporte">Reportar</a>
    </div>
  </div>
</nav>