<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel = "stylesheet" href = "css/categoria.css">
</head>
<body>
    <div class=button id="coll-3">
  
        <h1 id="head"> Categorias </h1>
        <br>
              
        <ul>
          
          <li>
            <a href='/caballero'>
            <span>Ropa para Caballeros</span></a>
          </li>
      
          <li>
            <a href='/damas'>
            <span>Ropa para Damas</span></a>
          </li>
      
          <li>
            <a href='#'>
            <span>Ropa de niños</span></a>
          </li>
              
          <li>
            <a href='/accesorios'>
            <span>accesorios</span></a>
          </li>
      
        </ul>

          <li>
            <a href='/'><span>Regresar al Inicio</span></a>
          </li>

      </div>
</body>
</html>