<head>
    <title>Accesorios Deportivos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

 <script>
 </script>

</head>
<body>
<div class="container">
    <!DOCTYPE html>

<html>
<head>
  <link rel='stylesheet' href='css/catalogo.css'/>
</head>

<body>

  <div class="wrapper">
   <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
           <a href="/" class="navbar-brand">The CombiShop  </a>
             </div>
         </nav>  
    <section id="home" class="sec-main">
      <h1 class="main-heading">El mejor estilo para caballero</h1>
    </section>

   <section id="about" class="sec-about">
      <div class="container">
        <h1>Caballeros</h1>

        <div class="row">
          <% productos.forEach(producto => { %>
              <div class="col-md-4">
                  <img class="center-block" src="<%= producto.imagen %>">
                  <h2><%= producto.nombre %></h2>
                  <div class="clearfix">
                      <div class="price pull-left">$<%= producto.precio %></div>
                      <a href="/add-to-cart/<%= producto.id %>" class="btn btn-raised btn-success pull-right">
                          Añadir al carrito
                      </a>
                  </div>
              </div>
          <% }); %>
      </div>
     </section>
 <footer id="footer">
       <div class="container">
         <ul class="soc-media-ul">
           <li>
             <a href="https://twitter.com/EpicWGoods" class="fa fa-twitter" target="https://twiter.com/EpicWGoods"></a>
           </li>
   
     
           <li>
             <a href="https://instagram.com/epicwinsg" class="fa fa-instagram" target="_blank"></a>
           </li>
   
           
   
           <li>
             <a href="mailto:ps20gcarmo@efcts.us" class="fa fa-envelope"></a>
           </li>
         </ul>
       </div>
     </footer>
   </div>
</body>
</html>
</div>
<script   src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>