/*=Typography=*/
html {
      font-size: 16px;
  }
  
  body {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      margin: 0;
      padding: 0;
      margin-top: 100px;
  }
  
  h1#head {
      font-weight: 300;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 5px;
  }
  
  ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      text-align: center;
  }
  
  ul li {
      margin: 1rem 0;
  }
  
  ul li a {
      text-decoration: none;
      font-size: 16px;
      transition: color 0.25s;
  }
  
  ul li a:hover {
      color: #4073ff; /* Color al pasar el mouse */
  }
  
  /* Estilo para el botón de regresar */
  .button a {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #fefefe;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      text-transform: uppercase;
      color: #333;
      transition: background-color 0.25s, color 0.25s;
  }
  
  .button a:hover {
      background-color: #e6e6e6;
      color: #000;
  }
  
  /* Media Queries */
  @media screen and (max-width: 768px) {
      body {
          margin-top: 50px; /* Reduce el margen superior en pantallas pequeñas */
      }
  
      h1#head {
          font-size: 24px; /* Ajusta el tamaño de la fuente del encabezado */
      }
  
      ul li a {
          font-size: 14px; /* Ajusta el tamaño de la fuente de los enlaces */
      }
  }